In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('crx.data',header=None)

In [3]:
df.head(3)

  0      1     2  3  4  5  6     7  8  9   10 11 12     13   14 15
0  b  30.83  0.00  u  g  w  v  1.25  t  t   1  f  g  00202    0  +
1  a  58.67  4.46  u  g  q  h  3.04  t  t   6  f  g  00043  560  +
2  a  24.50  0.50  u  g  q  h  1.50  t  f   0  f  g  00280  824  +

In [4]:
df = df.rename(columns={0:'Gender',1:'Age',2:'Debt',3:'Married',4:'BankCustomer',5:'EducationLevel',6:'Ethinicity',7:'YearsEmployed',8:'PriorDefault',9:'Employed',10:'CreditScore',11:'DriversLicense',12:'Citizen',13:'ZipCode',14:'Income',15:'ApprovalStatus'})

In [5]:
df.head()

,Gender,Age,Debt,Married,BankCustomer,EducationLevel,Ethinicity,YearsEmployed,PriorDefault,Employed,CreditScore,DriversLicense,Citizen,ZipCode,Income,ApprovalStatus
0,b,30.83,0.000,u,g,w,v,1.25,t,t,1,f,g,00202,0,+
1,a,58.67,4.460,u,g,q,h,3.04,t,t,6,f,g,00043,560,+
2,a,24.50,0.500,u,g,q,h,1.50,t,f,0,f,g,00280,824,+
3,b,27.83,1.540,u,g,w,v,3.75,t,t,5,t,g,00100,3,+
4,b,20.17,5.625,u,g,w,v,1.71,t,f,0,f,s,00120,0,+

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          690 non-null    object
 1   Age             690 non-null    object
 2   Debt            690 non-null    float64
 3   Married         690 non-null    object
 4   BankCustomer    690 non-null    object
 5   EducationLevel  690 non-null    object
 6   Ethinicity      690 non-null    object
 7   YearsEmployed   690 non-null    float64
 8   PriorDefault    690 non-null    object
 9   Employed        690 non-null    object
 10  CreditScore     690 non-null    int64
 11  DriversLicense  690 non-null    object
 12  Citizen         690 non-null    object
 13  ZipCode         690 non-null    object
 14  Income          690 non-null    int64
 15  ApprovalStatus  690 non-null    object
dtypes: float64(2), int64(2), object(12)
memory usage: 86.4+ KB

In [7]:
df = df.replace('?', np.nan)

In [8]:
df['Age'] = df['Age'].astype(float)

In [13]:
BC_Mode = df['BankCustomer'].mode()[0]
M_Mode = df['Married'].mode()[0]
EL_Mode = df['EducationLevel'].mode()[0]
E_Mode = df['Ethinicity'].mode()[0]

In [14]:
a_mean = df['Age'].mean()

In [15]:
df['BankCustomer'] = df['BankCustomer'].fillna(BC_Mode)
df['Married'] = df['Married'].fillna(M_Mode)
df['EducationLevel'] = df['EducationLevel'].fillna(EL_Mode)
df['Ethinicity'] = df['Ethinicity'].fillna(BC_Mode)
df['Age'] = df['Age'].fillna(a_mean)

In [16]:
df.head()

,Gender,Age,Debt,Married,BankCustomer,EducationLevel,Ethinicity,YearsEmployed,PriorDefault,Employed,CreditScore,DriversLicense,Citizen,ZipCode,Income,ApprovalStatus
0,b,30.83,0.000,u,g,w,v,1.25,t,t,1,f,g,00202,0,+
1,a,58.67,4.460,u,g,q,h,3.04,t,t,6,f,g,00043,560,+
2,a,24.50,0.500,u,g,q,h,1.50,t,f,0,f,g,00280,824,+
3,b,27.83,1.540,u,g,w,v,3.75,t,t,5,t,g,00100,3,+
4,b,20.17,5.625,u,g,w,v,1.71,t,f,0,f,s,00120,0,+

In [17]:
from sklearn import preprocessing

In [18]:
label_encoder = preprocessing.LabelEncoder()

In [19]:
df['Gender'] = label_encoder.fit_transform(df['Gender'])
df['Married'] = label_encoder.fit_transform(df['Married'])
df['BankCustomer'] = label_encoder.fit_transform(df['BankCustomer'])
df['EducationLevel'] = label_encoder.fit_transform(df['EducationLevel'])
df['Ethinicity'] = label_encoder.fit_transform(df['Ethinicity'])
df['PriorDefault'] = label_encoder.fit_transform(df['PriorDefault'])
df['Employed'] = label_encoder.fit_transform(df['Employed'])
df['DriversLicense'] = label_encoder.fit_transform(df['DriversLicense'])
df['Citizen'] = label_encoder.fit_transform(df['Citizen'])
df['ApprovalStatus'] = label_encoder.fit_transform(df['ApprovalStatus'])

In [20]:
df.head()

,Gender,Age,Debt,Married,BankCustomer,EducationLevel,Ethinicity,YearsEmployed,PriorDefault,Employed,CreditScore,DriversLicense,Citizen,ZipCode,Income,ApprovalStatus
0,1,30.83,0.000,1,0,12,8,1.25,1,1,1,0,0,00202,0,0
1,0,58.67,4.460,1,0,10,4,3.04,1,1,6,0,0,00043,560,0
2,0,24.50,0.500,1,0,10,4,1.50,1,0,0,0,0,00280,824,0
3,1,27.83,1.540,1,0,12,8,3.75,1,1,5,1,0,00100,3,0
4,1,20.17,5.625,1,0,12,8,1.71,1,0,0,0,2,00120,0,0

In [21]:
df.drop('ZipCode', axis=1, inplace=True)

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
y = df['ApprovalStatus'].values

In [24]:
X = df.drop(['ApprovalStatus'], axis=1).values

In [25]:
X.shape

(690, 14)

In [26]:
y.shape

(690,)

In [27]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [28]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaled_Xtrain = scaler.fit_transform(X_train)
scaled_Xtest = scaler.transform(X_test)

In [29]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(scaled_Xtrain, y_train)

LogisticRegression()

In [31]:
from sklearn.metrics import confusion_matrix

y_pred = logreg.predict(scaled_Xtest)


logreg.score(scaled_Xtest, y_test)

0.8405797101449275

In [32]:
confusion_matrix(y_test, y_pred)

array([[88,  9],
       [24, 86]], dtype=int64)